.dark-theme {
    --line-diff-text-color: hsl(0, 0%, 93%);
    --char-diff-text-color: hsl(0, 0%, 93%);

    --line-diff-delete-old-background-color: hsl(10, 80%, 25%);

    --line-diff-insert-new-background-color: hsl(220, 90%, 29%);

    --line-diff-replace-old-background-color: hsl(30, 20%, 20%);
    --line-diff-replace-new-background-color: hsl(200, 30%, 20%);

    --char-diff-delete-old-background-color: hsl(30, 80%, 30%);

    --char-diff-insert-new-background-color: hsl(200, 90%, 32%);

    --char-diff-replace-old-background-color: hsl(30, 10%, 31%);
    --char-diff-replace-new-background-color: hsl(200, 10%, 31%);
}