.dark-theme {
    // app common
    --app-primary-background-color: hsl(40, 12%, 8%);
    --app-primary-text-color: hsl(40, 0%, 93%);

    --app-secondary-background-color: hsl(40, 12%, 12%);
    --app-secondary-text-color: hsl(40, 0%, 95%);

    // explorer tab
    --explorer-old-pane-background-color: hsl(220, 100%, 12%);
    --explorer-old-pane-text-color: hsl(40, 0%, 93%);

    --explorer-new-pane-background-color: hsl(220, 100%, 14%);
    --explorer-new-pane-text-color: hsl(220, 0%, 93%);

    // diff tab
    --diff-primary-background-color: hsl(220, 100%, 16%);
    --diff-primary-text-color: hsl(220, 0%, 93%);

    --diff-pane-background-color: hsl(0, 0%, 8%);
    --diff-pane-text-color: hsl(0, 0%, 93%);

    // semantics
    --muted-text-color: hsl(0, 0%, 36%);

    --form-primary-background-color: var(--app-primary-text-color);
    --form-primary-text-color: var(--app-primary-background-color);

    --button-primary-background-color: hsl(220, 100%, 44%);
    --button-primary-text-color: hsl(0, 0%, 87%);

    --button-muted-background-color: hsl(0, 0%, 18%);

    --primary-border-color: hsl(0, 0%, 44%);
    --focused-border-color: hsl(220, 60%, 57%);
}