.night-theme {
    --diff-primary-background-color: #1a1a1a;
    --diff-primary-text-color: #d0d0d0;

    // --diff-focused-border-color: #444444;

    --diff-old-line-insert-background-color: #163b2a;
    --diff-old-line-insert-text-color: #7cd3a0;
    --diff-old-line-delete-background-color: #3b1b1b;
    --diff-old-line-delete-text-color: #f18b7a;
    --diff-old-line-replace-background-color: #453b28;
    --diff-old-line-replace-text-color: #f3d589;

    --diff-old-char-delete-background-color: hsl(23, 27%, 30%);
    --diff-old-char-insert-background-color: hsl(66, 27%, 33%);
    --diff-old-char-replace-background-color: hsl(50, 27%, 33%);

    --diff-new-line-insert-background-color: #1a4d38;
    --diff-new-line-insert-text-color: #8dd7a3;
    --diff-new-line-delete-background-color: #4a2424;
    --diff-new-line-delete-text-color: #f28b82;
    --diff-new-line-replace-background-color: #3b3222;
    --diff-new-line-replace-text-color: #fdd888;

    --diff-new-char-delete-background-color: hsl(24, 27%, 30%);
    --diff-new-char-insert-background-color: hsl(72, 27%, 33%);
    --diff-new-char-replace-background-color: hsl(58, 27%, 33%);
}