.night-theme {
    --line-diff-text-color: hsl(0, 0%, 87%);
    --char-diff-text-color: hsl(0, 0%, 87%);

    --line-diff-delete-old-background-color: hsl(10, 67%, 29%);

    --line-diff-insert-new-background-color: hsl(220, 73%, 34%);

    --line-diff-replace-old-background-color: hsl(30, 12%, 21%);
    --line-diff-replace-new-background-color: hsl(200, 22%, 21%);

    --char-diff-delete-old-background-color: hsl(30, 72%, 30%);

    --char-diff-insert-new-background-color: hsl(200, 82%, 34%);

    --char-diff-replace-old-background-color: hsl(30, 10%, 33%);
    --char-diff-replace-new-background-color: hsl(200, 10%, 31%);
}