.night-theme {
    --background-primary-color: #121212;
    --text-primary-color: #d0d0d0;

    --tab-header-default-border-color: #ababab;
    --tab-header-active-border-color: #eaea27;

    --select-files-background-color: #2e3e1e;
    --select-files-text-color: #e0e0e0;
}