.night-theme {
    // app common
    --app-primary-background-color: hsl(40, 4%, 10%);
    --app-primary-text-color: hsl(40, 0%, 91%);

    --app-secondary-background-color: hsl(40, 4%, 14%);
    --app-secondary-text-color: hsl(40, 0%, 93%);

    // explorer tab
    --explorer-old-pane-background-color: hsl(218, 24%, 18%);
    --explorer-old-pane-text-color: hsl(40, 0%, 91%);

    --explorer-new-pane-background-color: hsl(222, 24%, 20%);
    --explorer-new-pane-text-color: hsl(220, 0%, 91%);

    // diff tab
    --diff-primary-background-color: hsl(220, 44%, 20%);
    --diff-primary-text-color: hsl(220, 0%, 91%);

    --diff-pane-background-color: hsl(0, 0%, 10%);
    --diff-pane-text-color: hsl(0, 0%, 91%);

    // semantics
    --muted-text-color: hsl(0, 0%, 40%);

    --form-primary-background-color: var(--app-primary-text-color);
    --form-primary-text-color: var(--app-primary-background-color);

    --button-primary-background-color: hsl(220, 44%, 27%);
    --button-primary-text-color: hsl(0, 0%, 87%);

    --button-muted-background-color: hsl(0, 0%, 20%);

    --primary-border-color: hsl(0, 0%, 29%);
    --focused-border-color: hsl(220, 12%, 22%);
}