.light-theme {
    --background-primary-color: #ffffff;
    --text-primary-color: #222222;

    --tab-header-default-border-color: #252525;
    --tab-header-active-border-color: #caca16;

    --select-files-background-color: #f0f8e0;
    --select-files-text-color: #222222;
}