.light-theme {
    // app common
    --app-primary-background-color: hsl(40, 0%, 87%);
    --app-primary-text-color: hsl(40, 0%, 16%);

    --app-secondary-background-color: hsl(40, 0%, 81%);
    --app-secondary-text-color: hsl(40, 0%, 12%);

    // explorer tab
    --explorer-old-pane-background-color: hsl(218, 10%, 93%);
    --explorer-old-pane-text-color: hsl(40, 0%, 7%);

    --explorer-new-pane-background-color: hsl(222, 10%, 95%);
    --explorer-new-pane-text-color: hsl(220, 0%, 7%);

    // diff tab
    --diff-primary-background-color: hsl(220, 0%, 93%);
    --diff-primary-text-color: hsl(220, 0%, 5%);

    --diff-pane-background-color: hsl(0, 0%, 95%);
    --diff-pane-text-color: hsl(0, 0%, 7%);

    // semantics
    --muted-text-color: hsl(0, 0%, 64%);

    --form-primary-background-color: var(--app-primary-background-color);
    --form-primary-text-color: var(--app-primary-text-color);

    --button-primary-background-color: hsl(220, 100%, 36%);
    --button-primary-text-color: hsl(0, 0%, 93%);

    --button-muted-background-color: hsl(0, 0%, 82%);

    --primary-border-color: hsl(0, 0%, 50%);
    --focused-border-color: hsl(220, 100%, 60%);
}