.monokai-theme {
    --diff-primary-background-color: #3b3b32;
    --diff-primary-text-color: #f8f8f2;

    --diff-focused-border-color: #f8f8f2;

    --diff-old-line-insert-background-color: #133b2d;
    --diff-old-line-insert-text-color: #90e020;
    --diff-old-line-delete-background-color: #3b1616;
    --diff-old-line-delete-text-color: #d96c85;
    --diff-old-line-replace-background-color: #3b2a1a;
    --diff-old-line-replace-text-color: #fd972e;

    --diff-old-char-delete-background-color: hsl(16, 39%, 10%);
    --diff-old-char-insert-background-color: hsl(71, 39%, 10%);
    --diff-old-char-replace-background-color: hsl(49, 39%, 10%);

    --diff-new-line-insert-background-color: #1a503d;
    --diff-new-line-insert-text-color: #a6e22e;
    --diff-new-line-delete-background-color: #4d1a1a;
    --diff-new-line-delete-text-color: #f92672;
    --diff-new-line-replace-background-color: #4a311e;
    --diff-new-line-replace-text-color: #fd971f;

    --diff-new-char-delete-background-color: hsl(11, 42%, 10%);
    --diff-new-char-insert-background-color: hsl(63, 42%, 10%);
    --diff-new-char-replace-background-color: hsl(45, 42%, 10%);
}