// specific class wrapping prevents affecting external views
.explorer-container {
    flex-direction: column;

    &,
    .header,
    .body,
    .footer,
    .content {
        display: flex;
        box-sizing: border-box;
    }

    .body,
    .body .content,
    .body .content .files {
        min-height: 0;
    }

    .body,
    .body .content,
    .body .content .files {
        flex: 1;
    }

    .body .content {
        flex-direction: column;
        overflow: auto;
    }

    .body .divider {
        overflow: hidden;
    }

    .header,
    .footer {
        height: 1.6rem;
    }
}