.layers,
.layer {
    width: 100%;
    height: 100%;
}

.layers {
    position: relative;

    .layer {
        position: absolute;
        left: 0;
        top: 0;
        /* todo: adjust scroll bars */
        overflow-x: scroll;
        overflow-y: hidden;

        &.effect {
            opacity: 0.57;
        }

        .lines-diffs {
            width: fit-content;
            min-width: 100%;
            height: fit-content;
            min-height: 100%;
            font-family: monospace;
            white-space: pre;
        }

        .diff-line {
            height: var(--line-height);
        }

        .diff-line::before {
            content: "";
            width: 3em;
            padding-right: 0.7em;
            display: inline-block;
            text-align: right;
            color: darkgray;
            z-index: 10000;
        }

        &.effect {
            pointer-events: none;

            .lines-diffs {
                counter-reset: line-number;
            }

            .diff-line {
                counter-increment: line-number;
                color: transparent;
            }

            .diff-line::before {
                content: counter(line-number);
            }
        }
    }
}