.view-container,
.view-header,
.view-body,
.view-footer,
.view-header>.content,
.view-body>.content,
.view-footer>.content {
    display: flex;
    box-sizing: border-box;
}

.view-container {
    height: 100%;
    flex-direction: column;
}

.view-container,
.view-body,
.view-header>.content,
.view-body>.content,
.view-footer>.content,
.view-header>.content>*,
.view-body>.content>*,
.view-footer>.content>* {
    flex: 1;
}

.view-body,
.view-body>.content {
    // setting `0` at flex-basis instead of `auto` 
    // is necessary to show diff scroll bar */
    flex-basis: 0;
}

.view-body {
    // necessary for horizontal scroll bar
    width: 100vw;
    // necessary for vertical scroll bar
    min-height: 0;

    &>.content {
        overflow: auto;
    }

    &>.divider {
        overflow: hidden;
    }
}

.view-header,
.view-footer {
    height: 1.6rem;
}

// todo: explorer: divider used or not ?
.view-header>.divider,
.view-body>.divider,
.view-footer>.divider {
    width: 2.2rem;
}