#app {
  width: 100%;
  height: 100%;
}

.tabs label>input[type="radio"],
.dirs-files label>input[type="radio"],
.menus-toggle>input[type="checkbox"] {
  display: none;
}

// fonts
#app {
  font-size: var(--ui-font-size);

  .lines-diffs {
    font-size: var(--diff-font-size);
  }

  .settings {
    font-size: 14px !important;
    font-family: monospace !important;

    input,
    label {
      font-size: 18px !important;
    }

    input {
      padding: 3px 12px;
    }
  }

  &.sans-serif-diff-font-family {
    .lines-diffs {
      font-family: sans-serif;
    }
  }

  &.serif-diff-font-family {
    .lines-diffs {
      font-family: serif;
    }
  }

  &.monospace-diff-font-family {
    .lines-diffs {
      font-family: monospace;
    }
  }

  &.sans-serif-ui-font-family {
    font-family: sans-serif;
  }

  &.serif-ui-font-family {
    font-family: serif;
  }

  &.monospace-ui-font-family {
    font-family: monospace;
  }
}

#app {
  main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}