#app {
    font-size: var(--ui-font-size);

    .diff-content {
        font-size: var(--diff-font-size);
    }

    .settings {
        font-size: 14px !important;
        font-family: monospace !important;

        input,
        label {
            font-size: 18px !important;
        }

        input {
            padding: 3px 12px;
        }
    }

    &.sans-serif-diff-font-family {
        .diff-content {
            font-family: sans-serif;
        }
    }

    &.serif-diff-font-family {
        .diff-content {
            font-family: serif;
        }
    }

    &.monospace-diff-font-family {
        .diff-content {
            font-family: monospace;
        }
    }

    &.sans-serif-ui-font-family {
        font-family: sans-serif;
    }

    &.serif-ui-font-family {
        font-family: serif;
    }

    &.monospace-ui-font-family {
        font-family: monospace;
    }
}