.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.row {
    display: flex;
    gap: 0.6rem;
}

.row .col {
    flex: 1;
}