a,
button,
.button {
    cursor: pointer;
}

input,
button {
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 0.06rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    outline: none;
}

button:not(:disabled):hover {
    opacity: 0.87;
}

select {
    padding: 0.2rem 0.8rem;
    font-size: inherit;
}

.dirs-files label>input[type="radio"],
.menus-toggle>input[type="checkbox"] {
    display: none;
}