.diff {
    .lines-diffs {
        background-color: var(--diff-primary-background-color);
        color: var(--diff-primary-text-color);
    }

    &.old {
        .insert {
            background-color: var(--diff-old-line-insert-background-color);
            color: var(--diff-old-line-insert-text-color);
        }

        .delete {
            background-color: var(--diff-old-line-delete-background-color);
            color: var(--diff-old-line-delete-text-color);
        }

        .replace {
            background-color: var(--diff-old-line-replace-background-color);
            color: var(--diff-old-line-replace-text-color);
        }

        .chars-diff {
            .delete {
                background-color: var(--diff-old-char-delete-background-color);
            }

            .insert {
                background-color: var(--diff-old-char-insert-background-color);
            }

            .replace {
                background-color: var(--diff-old-char-replace-background-color);
            }
        }
    }

    &.new {
        .insert {
            background-color: var(--diff-new-line-insert-background-color);
            color: var(--diff-new-line-insert-text-color);
        }

        .delete {
            background-color: var(--diff-new-line-delete-background-color);
            color: var(--diff-new-line-delete-text-color);
        }

        .replace {
            background-color: var(--diff-new-line-replace-background-color);
            color: var(--diff-new-line-replace-text-color);
        }

        .chars-diff {
            .delete {
                background-color: var(--diff-new-char-delete-background-color);
            }

            .insert {
                background-color: var(--diff-new-char-insert-background-color);
            }

            .replace {
                background-color: var(--diff-new-char-replace-background-color);
            }
        }
    }
}

.separator {
    .lines-diff.focused button {
        background-color: var(--focused-border-color);
    }
}