.diff {
    color: var(--line-diff-text-color);

    &.old {
        .delete {
            background-color: var(--line-diff-delete-old-background-color);
        }

        .insert {
            background-color: var(--app-secondary-background-color);
        }

        .replace {
            background-color: var(--line-diff-replace-old-background-color);
        }

        .chars-diff {
            .delete {
                background-color: var(--char-diff-delete-old-background-color);
                color: var(--char-diff-text-color);
            }

            .insert {
                background-color: var(--app-secondary-background-color);
            }

            .replace {
                background-color: var(--char-diff-replace-old-background-color);
                color: var(--char-diff-text-color);
            }
        }
    }

    &.new {
        .delete {
            background-color: var(--app-secondary-background-color);
        }

        .insert {
            background-color: var(--line-diff-insert-new-background-color);
        }

        .replace {
            background-color: var(--line-diff-replace-new-background-color);
        }

        .chars-diff {
            .delete {
                background-color: var(--app-secondary-background-color);
            }

            .insert {
                background-color: var(--char-diff-insert-new-background-color);
                color: var(--char-diff-text-color);
            }

            .replace {
                background-color: var(--char-diff-replace-new-background-color);
                color: var(--char-diff-text-color);
            }
        }
    }
}

.separator {
    .lines-diff.focused button {
        background-color: var(--focused-border-color);
    }
}