.monokai-theme {
    background-color: #272822;
    color: #f8f8f2;

    .lines-diffs {
        background-color: #3b3b32;
        color: #f8f8f2;
    }

    .old {
        .insert {
            background-color: #133b2d;
            color: #90e020;
        }

        .delete {
            background-color: #3b1616;
            color: #d96c85;
        }

        .replace {
            background-color: #3b2a1a;
            color: #fd972e;
        }

        .chars-diff {
            .delete {
                background-color: hsl(16, 39%, 10%);
            }

            .insert {
                background-color: hsl(71, 39%, 10%);
            }

            .replace {
                background-color: hsl(49, 39%, 10%);
            }
        }
    }

    .new {
        .insert {
            background-color: #1a503d;
            color: #a6e22e;
        }

        .delete {
            background-color: #4d1a1a;
            color: #f92672;
        }

        .replace {
            background-color: #4a311e;
            color: #fd971f;
        }

        .chars-diff {
            .delete {
                background-color: hsl(11, 42%, 10%);
            }

            .insert {
                background-color: hsl(63, 42%, 10%);
            }

            .replace {
                background-color: hsl(45, 42%, 10%);
            }
        }
    }
}