#app {
    background-color: var(--app-primary-background-color);
    color: var(--app-primary-text-color);
}

*:disabled {
    color: var(--muted-text-color);
}

button {
    background-color: var(--button-primary-background-color);
    color: var(--button-primary-text-color);
}

button:disabled {
    background-color: var(--button-muted-background-color);
}

input,
select {
    background-color: var(--form-primary-background-color);
    color: var(--form-primary-text-color);
}

.tab {
    background-color: var(--app-secondary-background-color);
    color: var(--app-secondary-text-color);
    border-color: var(--primary-border-color);

    button {
        background: transparent;
        color: var(--app-secondary-text-color);
    }

    &.active button {
        border-color: var(--focused-border-color);
    }

    &:hover:not(:has(.close:hover)) .diff,
    &:hover .explorer,
    &:hover .add,
    .close:hover {
        background-color: var(--app-secondary-text-color);
        color: var(--app-secondary-background-color);
    }
}

.explorer-pane {
    &.old {
        background-color: var(--explorer-old-pane-background-color);
        color: var(--explorer-old-pane-text-color);
    }

    &.new {
        background-color: var(--explorer-new-pane-background-color);
        color: var(--explorer-new-pane-text-color);
    }

    .current-dir {
        background-color: var(--app-secondary-background-color);
        color: var(--app-secondary-text-color);
    }

    .dirs-files {
        .header {
            background-color: var(--app-primary-background-color);
            color: var(--app-primary-text-color);
        }

        label input[type='radio']:checked+div,
        .file input[type='radio']:checked+div {
            border-bottom-color: var(--focused-border-color);
        }
    }
}

.footer h2 {
    color: var(--muted-text-color);
}

.diff-panes {
    .row.header {
        border-bottom: 0.2rem solid var(--primary-border-color);
    }

    .row.footer {
        border-top: 0.2rem solid var(--primary-border-color);
    }

    .content .separator,
    .diff-line::before {
        background-color: var(--app-secondary-background-color);
    }

    .content .separator {
        button {
            background-color: transparent;
            color: var(--app-secondary-text-color);
            box-shadow: none;

            &:not(:disabled) {
                background-color: var(--app-secondary-background-color);
            }

            &:not(:disabled):hover,
            &.focused {
                background-color: var(--button-primary-background-color);
            }
        }
    }

    .menus {
        background: var(--app-secondary-background-color);
    }
}

.select-files {
    background-color: var(--app-secondary-background-color);
    color: var(--app-secondary-text-color);
    border-color: var(--focused-border-color);
}

.settings-wrapper {
    background-color: var(--app-secondary-background-color);
    color: var(--app-secondary-text-color);
}